<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="ASNA.Runtime.Logging, Version=10.1.22.0, Culture=neutral, PublicKeyToken=B904047D5AC8EE3D"/>
        <add assembly="ASNA.DataGate.Client, Version=14.0.6.0, Culture=neutral, PublicKeyToken=78AAC8F1F3F86B73"/>
        <add assembly="ASNA.VisualRPG.Runtime, Version=14.0.9.0, Culture=neutral, PublicKeyToken=D7106BE54D30C861"/>
        <add assembly="ASNA.VisualRPG.Common.Sgml, Version=14.0.3.0, Culture=neutral, PublicKeyToken=05C0964FD58B64D7"/>
        <add assembly="ASNA.Monarch.WebDspF, Version=14.0.9.0, Culture=neutral, PublicKeyToken=71DE708DB13B26D3"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="MonarchMessageFileFolder" value="~/MessageFiles"/>
  </appSettings>
</configuration>