@charset "UTF-8";
/**
 * Theme.css
 *
 * This Cascading Stylesheet includes styles that override the ASNA Wings/Monarch
 * framework defaults.
 *
 * Feel free to customize your siteâ€™s styles by changing the contents of this file.
 *
 * If overriding the framework defaults is not enough to produce your own branding,
 * follow the instructions in the header comment of Framework.css, found in the same 
 * folder as this file, to radically change the Styles of your ASNA Wings website.
 *
 * To improve performance, you may want to use the "Minified" version of this Cascading 
 * Stylesheet by getting the SASS source file structure from: https://github.com/ASNA/Wings-Sass,
 * that will allow you to generate the Theme.min.css which you can link from your 
 * MasterPage.master file, replacing the reference to Theme.css.
 *
*/
/* Root
   ========================================================================== */
html {
  font-family: "Segoe UI", Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px; }

/* Selection
   ========================================================================== */
::-moz-selection {
  background: #aaa;
  color: white;
  text-shadow: none; }

::selection {
  background: #aaa;
  color: white;
  text-shadow: none; }

/* Links
   ========================================================================== */
/* Remove gray background color from active links in IE 10 */
a {
  background: transparent;
  color: #06c; }

/* Typography
   ========================================================================== */
/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold; }

/* Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded
   ========================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
img {
  border: 0; }

/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping
   ========================================================================== */
/* Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* Address odd `em`-unit font size rendering in all browsers. */
code,
kbd,
pre,
samp {
  font-family: Consolas, monospace;
  font-size: 1em; }

/* Used by DdsPanel */
fieldset {
  border: 0; }

/* Forms
   ========================================================================== */
/* Address `overflow` set to `hidden` in IE 8/9/10. */
button {
  overflow: visible; }

/*
    Address inconsistent `text-transform` inheritance for `button` and `select`.
    All other form control elements do not inherit `text-transform` values.
    Correct `button` style inheritance in Firefox, IE 8+, and Opera
    Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none; }

/*
    Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
    Correct inability to style clickable `input` types in iOS.
    Improve usability and consistency of cursor style between image-type `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {
  line-height: normal; }

/* ==========================================================================
   Layout
   ========================================================================== */
/* Header
   ========================================================================== */
#header {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  width: 960px; }

#header .logo {
  margin-left: auto;
  margin-right: auto;
  width: 512px;
  line-height: 0; }

/* Content
   ========================================================================== */
#content {
  margin-left: auto;
  margin-right: auto;
  width: 1020px; }

/* Fkeys
   ========================================================================== */
#fkeys {
  width: 160px;
  float: left; }

/* Horizontal layout */
#fkeys .DdsKey {
  display: block;
  width: 100%; }

.DdsKey {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 10px 10px;
  text-align: left;
  background-color: #f2f2f2; }

.DdsKey:hover {
  background-color: #ddd; }

/* MainContent
   ========================================================================== */
#main-content {
  width: 860px;
  float: right; }

/* Window records
   ========================================================================== */
.DdsInlinePopUpContent #content.window {
  width: auto;
  padding: 10px;
  display: inline-block;
  white-space: nowrap; }

.DdsInlinePopUpContent #fkeys.window {
  /* If you prefer to NOT show Function key buttons on Window records, change style to "display: none;" */
  display: inline-block; }

.DdsInlinePopUpContent #main-content.window {
  margin-right: 60px;
  width: auto;
  display: inline-block;
  float: none; }

/* Footer
   ========================================================================== */
#footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* ==========================================================================
   Utility classes
   ========================================================================== */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.no-vert-margin {
  margin-top: 0;
  margin-bottom: 0; }

.no-overflow {
  overflow: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }
